<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}

<div class="row no-gutters">
	<div class="col">
		<h2 class="heading section-heading">The roll of the dice!</h2>
	</div>
</div>
<div class="row no-gutters">
	<div class="col-6">
		<p class="section-paragraph position-left">
			
		</p>
		<p class="section-paragraph position-left">
			The D6 is the dice you're most used to if you've played any sort of board game. From Mouse Trap
			to Risk to Arkham Horror, it is the quintessential die shape. It is also used fairly heavily
			within D&D, but unless you're a rogue or a spellcaster you probably won't come across it too often.
		</p>
		<p class="section-paragraph position-left">
			The D8 is an interesting little number, typically used for one handed weapon damage, but it is also
			used by monks at higher levels. It's one of the most commonly used die in D&D as many classes prefer
			one handed weapons, as they give the freedom to use a shield... or to wield a second weapon!
		</p>
		<p class="section-paragraph position-left">
			The D10, again it is used mostly for determining the damage dealt by weapons and spells. But it has
			another use too: to decide your fate!<br>When rolled in conjunction, two D10's act as percentile dice.
                        Generally in this scenario, you'll find two 10-sided dice in your arsenal that match in colour. One
                        will run the numbers in 10's, the other will be the expected 1-10. Say the one lands on 30, and the
                        other lands on 7, you rolled a 37. Now this may be good or it may be very, very bad. It all depends on
                        the percentage chance your DM has decided on for this particular roll.
                    </p>
	</div>
	<div class="col-6">
		<p class="section-paragraph position-right">
			The D12, this rather lovely piece of equipment is mainly used for two handed weapons. Say a rather
			aggressive Gnoll runs up to you, you swing your Great Axe and providing you hit you roll that D12.
			Some Great Weapons use 2D6 instead, but all this changes is your probability of rolling a certain number.
		</p>
		<p class="section-paragraph position-right">
			The D20, this is the main dice you will be rolling when playing Dungeons & Dragons. It allows you to know
			if you've successfully persuaded someone to your way of thinking, how well you've hidden from those big
			scary
			Town Guard when you've been stealing. Whether or not you've successfully picked a lock, remembered something
			from your past, the list is near endless. Most importantly though, it allows you to determine when you get
			to
			attack and whether or not you've struck true.
		</p>
		<p class="section-paragraph position-right">
			The D100, sometimes you'll come across these behemoth dice, they simply act as your percentile die.
			Typically
			when your DM asks you to roll a percentage chance, they'll say "Roll a D100". All they mean is roll your two
			D10s, but you can roll a D100 if you've got one.
		</p>
	</div>
</div>

{% endblock %}