<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}

<div class="row no-gutters">
	<div class="col-lg">
		<h3 class="heading section-heading">What is it? <img class="img-resize"
        src="assets/images/D&D20.jpg" alt=""></h3>
			<p class="section-paragraph">
				Dungeons & Dragons is a tabletop roleplaying game, in which you take on the persona of an
				adventuring character
				you create before your gameplay can begin (we will explore character creation in another
				section).
			</p>
			<p class="section-paragraph">
				A standard practice is to run a session zero so that the player characters can meet and get
				used to each other. It also helps new players to get to know the system in a comfortable
				environment.
			</p>
	</div>
	<div class="col-lg">
		<h3 class="heading section-heading">How do you play? <img class="img-resize"
        src="assets/images/D&D20.jpg" alt=""></h3>
			<p class="section-paragraph">
				You roll various sided dice, the most synonymous of which is a D20. An icosohedral scoundrel
				whose typically referred to (at least in my experience) as RNGesus's ill will.
			</p>
			<p>
				The Dungeon Master (DM) will lead you through a story in which you make the choices that will
				lead your group through each scenario. Sometimes you'll be negotiating with grand councils,
				attempting to dissuade them from war. You'll be delving into caves, forests, cityscapes and
				(sometimes) dungeons. Hunting for ancient treasures, and answers to the questions you raise
				as you travel the world you call home.
			</p>
	</div>
	<div class="col-lg">
		<h3 class="heading section-heading">Another question? <img class="img-resize"
        src="assets/images/D&D20.jpg" alt=""></h3>
			<p class="section-paragraph">More writing just testing a third column</p>
	</div>
</div>

{% endblock %}